.effectivenessIndicator {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3em;
}

.noEffect {
    background-color: black;
    color: white;
}

.notEffective {
    background-color: red;
    color: white;
}

.neutral {
    background-color: white;
    color: black;
}

.veryEffective {
    background-color: green;
    color: white;
}