.typeChartKey {
    width: fit-content;
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    gap: 1em;

    dd {
        margin: 0;
    }
}

.typeChart {
    display: block;
    position: relative;
    overflow: auto;
    max-width: 100vw;

    @media screen and (max-width: 1080px) {
        max-height: 100vh;
    }

    caption {
        display: flex;
        justify-content: center;
        position: sticky;
        left: 0;
    }
    
    .attackTypeHeader {
        position: sticky;
        left: 0;
    }
    
    .defenseTypeHeader {
        position: sticky;
        top: 0;
    }
}


.verticalHeader {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
}

.abbreviatedType {
    padding-left: 0;
    padding-right: 0;
}
